
/*   CSS del Index */
/*header*/

body{
    background-color: rgb(15, 9, 19);
    font-family: 'Overpass', sans-serif;
}

.header{
    display: flex;
}

.padre2_header{
    /* display: flex; */
    width: 100%;
    height: 100px;  
}

.logo_header_article{
    height: 100px;
    width: 140px;
}
.logo_header{
    border-radius: 20px;
}

.form_header{
   
    height: 50px;
    text-align: end;
    padding: 10px 30px 0px 0px;
}



.nav_header{                         /* padre_header(nav_header(lista_nav_header(linavheader)))*/
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(54, 7, 98);
    align-self:flex-end;     /* */
}

.lista_nav_header{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    color: white;
    padding: 0px;
    font-size: 20px;
    align-items: center;

}
.linavheader{         /* son las etiquetas <a> de los li de la barra de navegación del header*/
    text-decoration: none;
    color: white;
    
}


/* main*/
.seccion_foto_principal{
    background-image: url(../img/fondo\ home\ mas\ oscura.png);   
    background-size: 1500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    height: 550px;
    width: 100%;
    display: flex;
}

.h2_secciones{
    font-size: 50px;
    margin: 20px
}

.hijo_Seccion_foto_principal{
    width: 700px;
    align-self: center;
    padding: 150px;
}

.texto_en_foto_principal{
   color: white;
   font-size: 60px;
  
}

.separador{
    height: 50px;
    background-color:rgb(54, 7, 98);
}


.seccion_peliculas{
    height: 600px;
    
    
}
.h2_secciones{
    color: white;
}

.seccion_series{
    height: 600px; 
}

.seccion_lo_mas_visto{
    height: 600px;  
}

.lista_principal{
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    padding: 0px;
}

.li_piedefoto{
    color: white;
}

.lista_anidada{
    list-style-type: none;
}




/* footer*/

footer{
    display: flex;
    color: white;
    justify-content: space-around;
}

.lista_footer{
    list-style-type: none;
    
}



/* Css detail-movie y detail series */

.titulod{
    font-family: 'Raleway', sans-serif;
    font-size: 50px ;
    color: white;
    text-align: center;
    background-color:rgba(54, 7, 98, 0.642) ;
}

.texto-d{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    display: flex;
    

}
.cuadros-d{
    background-color: rgba(54, 7, 98, 0.276);
    
}
.video-dm{
    justify-content: center;
    text-align: center;

}
.nombre-d{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
}

.maind{
    padding: 0px 150px;
}

.fondo{
    background-image: url(../img/fondo\ dm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.list-style{
    list-style: none;
}
.videodetalles{
    display: flex;
    flex-direction: column;

}
.video{
    align-self: center;
}


/* Css Favorite */

.titulofav{
    font-family: 'Raleway', sans-serif;
    font-size: 50px ;
    color: white;
    text-align: center;
    background-color:rgb(54, 7, 98) ;
}

.lista_favoritos{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    padding: 0px;
}

.lista_favoritos2{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    padding: 0px;
}

/* VER COMO CAMBIAR LA FONT DE LOS TEXTOS DE DETALLES DE PELICULAS */ 




/* Pagina resultado de busqueda*/

.body_result{
    background-color: rgb(15, 9, 19);
    font-family: 'Overpass', sans-serif;
}
.section1_resbysq{
    height: 60px;
}

.h1res_busq{
    font-size: 40px;
    color: white;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

.h2_secciones_res_busq{
    font-size: 30px;
    color: white;
    font-family: 'Overpass', sans-serif;
}