
/*   CSS del Index */
/*header*/

body{
    background-color: rgb(15, 9, 19);
    font-family: 'Overpass', sans-serif;
}

.padre_header{

    display: flex;
    width: 100%;
    height: 200px;  
}

.logo_header{
    border-radius: 20px;
}



.nav_header{                         /* padre_header(nav_header(lista_nav_header(linavheader)))*/
    display: flex;
    width: 1000%;
    height: 50px;
    background-color: rgb(54, 7, 98);
    align-self:flex-end;     /* */
}

.lista_nav_header{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    color: white;
    padding: 0px;
    font-size: 20px;
    align-items: center;

}
.linavheader{         /* son las etiquetas <a> de los li de la barra de navegación del header*/
    text-decoration: none;
    color: white;
    
}


/* main*/
.seccion_foto_principal{
    background-image: url(../img/fondo\ home\ mas\ oscura.png);   
    background-size: 1500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    height: 600px;
    width: 100%;
    display: flex;
}

.h2_secciones{
    font-size: 50px;
}

.hijo_Seccion_foto_principal{
    width: 700px;
    align-self: center;
    padding: 150px;
}

.texto_en_foto_principal{
   color: white;
   font-size: 60px;
  
}

.separador{
    height: 50px;
    background-color:rgb(54, 7, 98);
}


.seccion_peliculas{
    height: 600px;
    
    
}
.h2_secciones{
    color: white;
}

.seccion_series{
    height: 600px; 
}

.seccion_lo_mas_visto{
    height: 600px;  
}

.lista_principal{
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    padding: 0px;
}

.li_piedefoto{
    color: white;
}

.lista_anidada{
    list-style-type: none;
}




/* footer*/

footer{
    display: flex;
    color: white;
    justify-content: space-around;
}

.lista_footer{
    list-style-type: none;
    
}



/* Css detail-movie */

.titulodm{
    font-family: 'Raleway', sans-serif;
    font-size: 50px ;
    color: white;
    text-align: center;
    background-color:rgba(54, 7, 98, 0.642) ;
}

.texto-dm{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    

}
.cuadros-dm{
    background-color: rgba(54, 7, 98, 0.276);
    
}
.video-dm{
    justify-content: center;
    

}
.nombre-dm{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
}

.maindm{
    padding: 0px 250px;
}

.fondo{
    background-image: url(../img/fondo\ dm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Css Favorite */

.titulofav{
    font-family: 'Raleway', sans-serif;
    font-size: 50px ;
    color: white;
    text-align: center;
    background-color:rgba(54, 7, 98, 0.642) ;
}

.lista_favoritos{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    padding: 0px;
}

.lista_favoritos2{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    padding: 0px;
}

/* VER COMO CAMBIAR LA FONT DE LOS TEXTOS DE DETALLES DE PELICULAS */ 